@model List<MyBlog.Models.Blog>




<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1 style="text-align: center">Travel Blog</h1>

    @foreach (var blog in @Model)
    {
        <h1 style="color: darkmagenta">@blog.Title</h1>
        <h3>By @blog.Author</h3>
        <h2>Description: @blog.ShortDescription</h2>
        <img style="width: 50%; height: 400px" src=@blog.ImageURL . alt="Alternative image" />
        <h4>This trip was realized on @blog.TravelDate</h4>
        <p style="text-align:justify">@blog.Text</p>
        <h6>Published on: @blog.EntryDate</h6>
        <div style="width: 100%; border-bottom: solid black 1px"></div>
    }

</body>
</html>